<body>
    <div id="divNewAccount" class="animate__animated animate__fadeIn" *ngIf="viewLogin">
        <div>
            <figure>
                <img src="../assets/images/LogoPNG.png" />
            </figure>
        </div>
        <div>
            <form (submit)="submitLogin()">
                <div class="form-group">
                    <input type="text" name="name" [(ngModel)]="Login.user_name" class="form-control intLog" placeholder="User name" style="width: 300px;" autofocus>
                </div>
                <div class="form-group">
                    <input type="password" name="description" [(ngModel)]="Login.password" class="form-control intLog" placeholder="Password" style="width: 300px;">
                </div>
            </form>
        </div>
        <div class="usePassowrd">
    
        </div>
    
        <div class="btnLogin">
            <button type="button" class="btn btn-primary btn-block btnLog" (click)="changeForm1()"> New Account</button>
            <button class="btn btn-success btn-block btnLog">Log In</button>
        </div>
    </div>

    <div id="divLoginComplete" class="animate__animated animate__fadeIn" *ngIf="viewNewAccount">
        <div>
            <figure>
                <img src="../assets/images/LogoPNG.png" />
            </figure>
        </div>
        <div>
            <form class="formLogin">
                <div class="p-inputgroup inputTextLogin">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
    
                    <input type="text" pInputText placeholder="User name" />
                </div>
                <div class="p-inputgroup inputTextLogin">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-unlock" style="font-size: 1rem"></i>
                    </span>
    
                    <input type="password" pInputText placeholder="Password" />
                </div>
                <div class="p-inputgroup inputTextLogin">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-unlock" style="font-size: 1rem"></i>
                    </span>
    
                    <input type="password" pInputText placeholder="Password" />
                </div>
                <div class="p-inputgroup inputTextLogin">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-unlock" style="font-size: 1rem"></i>
                    </span>
    
                    <input type="password" pInputText placeholder="Password" />
                </div>
                <div class="p-inputgroup inputTextLogin">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-unlock" style="font-size: 1rem"></i>
                    </span>
    
                    <input type="password" pInputText placeholder="Password" />
                </div>

            </form>
        </div>
        <div class="usePassowrd">
    
        </div>
    
        <div class="btnLogin">
            <button type="button" (click)="changeForm2()">Login</button>
            <button>Create account</button>
        </div>
    </div>
</body>