<!-- <div *ngFor="let item of products">
    <div class="row">
        <ul>
            <li>
                id: {{ item.id_product }}
            </li>
            <li>
                name: {{ item.name_product }}
            </li>
            <li>
                price: {{ item.description }}
            </li>
            <li>
                Price: {{ item.precioPza }}
            </li>
            <li>
                Unit: {{ item.unit_measurement }}
            </li>
        </ul>
        <button class="btn btn-secondary" (click)="addProduct(item.id_product)"> Add </button>
    </div>
</div> -->